/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* roboto-regular - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500italic - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../fonts/roboto-v20-latin_cyrillic-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-500italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700italic - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../fonts/roboto-v20-latin_cyrillic-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-700italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper__full {
    max-width: 1262px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    max-width: 1090px;
    margin: 0 auto;
    z-index: 5;
    padding: 0 15px;
}

/* Header styles start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 999;
}

.header_active {
    background-color: #073817;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header__logo-pic {
    max-width: 100%;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.header__logo-pic-sm {
    max-width: 50%;
}

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}

.header__burger {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
}

.burger__line:nth-child(1) {
    top: 0;
}

.burger__line:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.burger__line:nth-child(3) {
    bottom: 0;
}

/* Header styles end */

/* Intro styles start */

.intro {
    min-height: 100vh;
    background: url(../img/bg-min.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
    position: relative;
    z-index: 1;
}

.intro::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    color: white;
    margin-bottom: 22px;
}

.intro__subtitle {
    position: relative;
    color: white;
    font-size: 24px;
    line-height: 32px;
    max-width: 100%;
    margin-bottom: 59px;
}

.about__link {
    display: inline-block;
    padding: 15px 39px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
    background-color: #3a3535;
    opacity: 0.80;
    z-index: 5;
    margin-bottom: 25px;
    text-align: center;
}

.about__link:hover {
    opacity: 0.6;
    background-color: black;
}

/* Intro styles end */

/* Adv styles start*/

.adv {
    margin-bottom: 120px;
}

.adv__wrap {
    max-width: 1260px;
    margin: 0 auto;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
            box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
    z-index: 5;
    padding-bottom: 112px;
}

.adv__title {
    width: 100%;
    background-color: white;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.adv__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 55px;
       -moz-column-gap: 55px;
            column-gap: 55px;
    padding: 0 100px;
}

.adv__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-span: 1;
    grid-column: span 1;
}

.adv__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 26px;
}

.adv__card-pic {
    margin-bottom: 37px;
    max-width: 66px;
}

.adv__card-thumb {
    display: block;
}

.adv__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 26px;
}

.adv__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    background: url(../img/svg/Shape.svg) no-repeat 95% center;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.adv__card-more:hover, .adv__card-more:focus {
    background: url(../img/svg/Shape.svg) no-repeat right center;
}

/*Adv syles end */

/*Types styles start*/

.types {
    margin-bottom: 131px;
}

.types__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 36px;
}

.types__caption-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 15px;
}

.types__caption-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000;
}

.types__caption-link {
    display: inline-block;
    padding-right: 56px;
    font-size: 16px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    background: url(../img/svg/Shape.svg) no-repeat 95% center;
}

.types__caption-link:hover, .types__caption-link:focus {
    opacity: 0.65;
}

.types__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.types__card {
    position: relative;
    overflow: hidden;
}

.types__card:hover .types__card-img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.types__card-lg {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.types__card-small {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.types__card-img {
    width: 100%;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.types__card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.types__card-title {
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    bottom: 27px;
    left: 29px;
    z-index: 2;
}

.types__card-img-lg {
    height: 354px;
    -o-object-fit: cover;
       object-fit: cover;
}

.types__card-img-small {
    height: 283px;
    -o-object-fit: cover;
       object-fit: cover;
}

/*Types styles end*/

/*Video styles end*/

.video__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video__elem {
    padding-top: 56.25%;
}

.video__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*Video styles end*/

/*Footer styles start*/

.footer {
    background-color: rgb(17, 14, 14);
}

.footer__title {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 26px;
    line-height: 53px;
    text-transform: uppercase;
}

.footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
}

.footer__icon {
    margin-bottom: 30px;
    height: 47.97px;
    width: auto;
}

.footer__thumb {
    height: 100%;
}

.footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__item-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color: #c8b8b8;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__item-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.footer__item-active {
    text-decoration: none;
}

/*Footer styles end*/

/* media styles start*/
@media screen and (max-width: 1240px) {
    .adv__card {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;

    }
    .types__card-title {
        font-size: 40px;
        line-height: 50px;
    }
}


@media screen and (max-width: 960px) {
    .wrapper__full {
        padding: 0 15px;
    }
    .adv {
        margin-bottom: 75px;
    }
    .adv__wrap {
        padding-bottom: 60px;
    }
    .adv__cards {
        -webkit-column-gap: 30px;
           -moz-column-gap: 30px;
                column-gap: 30px;
        padding: 0 15px;
    }
    .adv__card {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .types__card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    

}
@media screen and (max-width: 846px) {
    .footer__title {
        padding-top: 15px;
        margin-bottom: 15px;
    }
    .footer__items {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
    .footer__item {
        max-width: 200px;
    }
    .footer__item-desc {
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
    }
    .footer__icon {
        height: 27.97px;
        margin: 10px;
    }
    .footer__item-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #c8b8b8;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .footer__item:nth-child(2) {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
}


@media screen and (max-width: 767px) {
    .header__burger {
        display: block;
    }
    .body-fixed {
        position: fixed;
    }
    .header__nav {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
    }
    .header__nav-active {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child {
        margin-bottom: 0;
    }
    .header__link {
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 11;
        top: 70px;
        right: 20px;
    }
    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
        position: absolute;
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
    }
    .header__nav-close-line:first-child {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
    .header__nav-close-line:last-child {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    .intro {
        padding-top: 150px;
    }
    .intro__title {
        font-size: 26px;
        line-height: 32px;
    }
    .intro__subtitle {
        font-size: 14px;
        line-height: 20px;
    }
    .about__link {
        width: 100%;
        margin-bottom: 0;
    }
    .adv {
        margin-bottom: 35px;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .adv__wrap {
        padding-bottom: 20px;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .adv__title {
        padding: 35px 15px;
    }
    .adv__cards {
        padding: 0 15px;
        gap: 35px;
    }
    .adv__card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .adv__card-pic {
        margin-bottom: 20px;
    }
    .types__caption-title {
        margin-bottom: 25px;
    }
    .types__caption-title::after {
        width: 120px;
    }
    .types__caption {
        margin-bottom: 20px;
    }
    .types__card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .types__card-img {
        height: 230px;
    }
    .types__card-title {
        font-size: 30px;
        line-height: 40px;
    }
    .types {
        margin-bottom: 35px;
    }

}

/* media styles end*/